<div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display: flex; justify-content: center; margin-top: 320px;">
   <h3>Você não tem permissão<br>para acessar essa página!</h3>
</div>
<a href="/" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display: flex; justify-content: center; text-decoration: none; color: rgb(12, 79, 12);">Voltar para tela inicial</a> 
