<link rel="stylesheet" href="/css/ponto/ponto.css">
<script src="/js/ponto/cadastrarPonto.js"></script>

<div class="container-atestado" style="margin-top: 50px; margin-bottom: 50px;">
    <h3>Registrar horário de ponto</h3>

    <label for="" style="text-align: start;">Nome:</label>
    <input type="text" class="form-control" id="nome" name="nome" disabled value="<%= usuario.login %>">

    <input type="text" hidden id="id" name="id" value="<%= usuario.id %>">

    <div class="row" style="margin-top: 20px;">

      <div class="col" style="text-align: start;">
        <label for="">Horário de entrada:</label>
        <input type="time" class="form-control" id="horaEntrada" name="horaEntrada" onchange="validarHoraConsulta(event)">
      </div>
      
      <div class="col" style="text-align: start;">
        <label for="">Horário de saída:</label>
        <input type="time" class="form-control" id="horaSaida" name="horaSaida" onchange="validarHoraConsulta(event)">
      </div>
    </div>


    <button type="button" class="btn btn-primary" id="btn-ponto" style="margin-top: 20px;">Bater ponto</button>

    <a href="/administrador/relatorio/ponto" style="margin-top: 20px;"><i class="fas fa-hospital-user"></i> Ver relátorios de ponto</a>

  </div>

  <!-- <div class="container-relatorio" style="margin-top: 20px; margin-bottom: 50px;">
    <h3>Relatórios</h3>
    <div class="botoes-relatorios">

      <a href="/administrador/relatorio/atestado" class="btn btn-primary"><i class="fas fa-hospital-user"></i> Relatório de atestado</a>
    </div>
  </div> -->

</section>