

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fisiotech</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.ico" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link rel="stylesheet" href="/css/consuta.css">
  <link rel="stylesheet" href="/css/paciente.css">
  <link rel="stylesheet" href="/css/tabela_paciente.css">
  <link href="/css/main.css" rel="stylesheet">
  <style>
    

    .login-container {
        background-color: #fff;
        padding: 30px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 360px;
        text-align: center;

        margin: auto;
    }


    .login-container h2 {
        margin-bottom: 20px;
        color: #333;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .btn-login {
        width: 100%;
        padding: 10px;
        background-color: #114539;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .btn-login:hover {
        background-color: #0A3530;
    }

    .input-group {
        margin-bottom: 15px;
    }
    
</style>
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center" style="margin-bottom: 100px;">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-center">
      <a href="/" class="logo d-flex  justify-content-center" >
        <h1>Fisio<span>tech</span></h1>
      </a>
      

      

    </div>
  </header>

<!-- ============================================== -->
<!-- ============================================== -->

<div class="login-container">
    <h2>Registre-se</h2>
    <form class="formulario-login">
        <div class="input-group">
            <input type="text" id="usuario" name="usuario" placeholder="Usuário" required>
        </div>
        <div class="input-group">
            <input type="password" id="senha" name="senha" placeholder="Senha" required>
        </div>
        <button type="submit" class="btn-login btn-add" style="margin-bottom: 10px;">Registrar</button>
        <a href="/login">Já possui uma conta? Entrar</a>
    </form>
</div>

<!-- ============================================== -->
<!-- ============================================== -->

  <footer id="footer" class="footer" style="margin-top: 100px;">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span>Fisiotech</span>
          </a>
          <p>Aqui nós <span>unimos </span>fisioterapia e tecnologia para o seu <span>bem-estar</span></p>
          <div class="social-links d-flex mt-4">
            <a href="" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Link uteis</h4>
          <ul>
            <li><a href="/#home">Início</a></li>
            <li><a href="/#sobre">Sobre nós</a></li>
            <li><a href="/#servicos">Serviços</a></li>
            <li><a href="/#vlibras">VLibras</a></li>
            <li><a href="/#equipe">Equipe</a></li>
          </ul>
        </div>

        

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contato</h4>
          <p>
            Presidente Prudente, Centro<br>
            Rua Zezinho Carmargo, 54<br>
            Brasil <br><br>
            <strong>Telefone:</strong> +55 18 99765 0351<br>
            <strong>Email:</strong> fisiotech@gmail.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Fisiotech</span></strong>. Todos os direitos reservados.
      </div>
      <div class="credits">
        Designed by <a href="/">HiCode!</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->

  <script src="/js/main.js"></script>
  <script src="/js/validacoes.js"></script>
  <script src="/js/validacao_consulta.js"></script>
  <script src="/js/registro/cadastroConta.js"></script>
</body>

</html>