<main id="main">

    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Você sabe o que é VLibras?</h2>
              <p>É um recurso de acessibilidade, que faz uma tradução automática, para tornar a web acessível a quem precisa da Língua de Sinais.


                Essa solução digital é resultado de uma parceria entre o Ministério da Economia (ME), por meio da Secretaria de Governo Digital (SGD) e a Universidade Federal da Paraíba (UFPB).</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="/">Inicio</a></li>
            <li>VLibras</li>
          </ol>
        </div>
      </nav>
    </div>


    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="/img/portfolio/app-1.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="/img/portfolio/product-1.jpg" alt="">
              </div>

              <div class="swiper-slide">
                <img src="/img/portfolio/branding-1.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8">
            <div class="portfolio-description">
              <h2>Manual de Instalação da Ferramenta VLibras Desktop Windows</h2>
              <p>Para saber mais clique <a href="https://vlibras.gov.br/doc/windows/index.html?_ga=2.229816668.1595640842.1682445746-816840059.1655413110" style="color: green;">aqui.</a></p>
              <h2>Download VLibras Navegador</h2>
              <p>
               Faça o download clicando <a href="https://chromewebstore.google.com/detail/vlibras/pgmmmoocgnompmjoogpnkmdohpelkpne?hl=pt-BR&pli=1" style="color: green;">aqui.</a>
              </p>
              <h2>Download VLibras Desktop</h2>
              <p>
                Faça o download clicando <a href="https://softwarepublico.gov.br/social/suite-vlibras" style="color: green;">aqui.</a>
              </p>
              <h2>Download VLibras Celular</h2>
              <p>
                Faça o download clicando <a href="https://www.gov.br/governodigital/pt-br/vlibras" style="color: green;">aqui.</a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </section>

  </main>