.container-form {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    
}

form  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

main {
    height: 700px;
    overflow-y: auto;
}

.container-perfis {
    width: 750px;
    margin: 0 auto;
}

.table-responsive {
    height: 500px;
    overflow-x: auto; 
}

.container-perfis {
   margin-top: 10px;
}

.tabela-servicos {
    overflow-y: auto;
    height: 400px;
    width: 350px;
}

@media (max-width: 1250px) {
    .container-perfis {
        width: 450px;
        margin: 0 auto;
    }

    .table thead {
        display: none; 
    }
    
    .table tbody tr {
        display: block;
        margin-bottom: 30px;

    }

    .table tbody tr td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

   
    .table tbody tr td:before {
        content: attr(data-label); 
        font-weight: bold;
        background-color: transparent;
        color: black;
    }
    
    .btn-editar {
        margin-left: 250px;
    }

    .tbodyservicos {
        width: 300px;
    }

    .tbodyusuarios {
        width: 360px;
    }
}