
 .background-main {
    height: 80vh;
}

.section-adm {
    margin-top: 30px;
    height: 73vh;   
    overflow-y: auto;
}

.container-servicos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 350px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    padding: 20px;
    overflow-y: auto;
    height: 600px;
} 

.container-servicosEditar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 350px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    padding: 20px;
    overflow-y: auto;
    height: 200px;
    
}

.container-tabela {
    text-align: center;
    overflow-y: auto;
    height: 500px;
}


@media (max-width: 1250px) {

    .container-servicos {
       width: 450px;
       margin: 0 auto;
    }

    .container-tabela {
        max-height: 300px; 
        max-width: 400px;
    }

    .table tbody tr td:before {
        content: attr(data-label); 
        font-weight: bold;
        background-color: transparent;
        color: rgb(0, 0, 0);
        
    }

    .table thead {
        display: none; 
    }
    
    .table tbody tr {
        display: block;
        margin-bottom: 30px;
    }

    .table tbody tr td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .acoes {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
    
    
}

@media (max-width: 768px) {

    .container-servicos {
       width: 450px;
       margin: 0 auto;
    }

    .container-tabela {
        max-height: 300px; 
        max-width: 400px;
    }

    .table tbody tr td:before {
        content: attr(data-label); 
        font-weight: bold;
        background-color: transparent;
        color: rgb(0, 0, 0);
        
    }

    .table thead {
        display: none; 
    }
    
    .table tbody tr {
        display: block;
        margin-bottom: 30px;
    }

    .table tbody tr td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .acoes {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
    
    
}

@media (max-width: 500px) {
    .container-servicos {
        width: 450px;
        margin: 0 auto;
       
     }

     
}



/* testes */

.container-atestado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 350px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    padding: 20px;
}

.container-relatorio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 350px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    padding: 20px;
}

.container-contas {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 350px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    padding: 20px;
}
