
.table-container {
    margin-top: 10px;
    margin-inline: 150px;
    max-height: 600px;     
    overflow-y: auto;
}

main {
    height: 600px;
}


.container-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.inputTexto {
    display: flex;
    justify-content: center;
    text-align: start;
    margin: 0 auto;
}

.container-input-e-search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 350px;
    margin: 0 auto;
    gap: 10px;
}

.datas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 490px;
    margin: 0 auto;
    gap: 10px;
}

.centralizar-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1200px) {

    .table-container {
        max-width: 400px;
        margin: 0 auto;
        height: 350px;
        margin-bottom: 20px;
        margin-top: 20px;
        overflow-y: auto;
    }

    .table tbody tr td:before {
        content: attr(data-label); 
        font-weight: bold;
        background-color: transparent;
        color: rgb(0, 0, 0);
    }

    td {
        text-align: center;
    }

    .table thead {
        display: none; 
    }
    
    .table tbody tr {
        display: block;
        margin-bottom: 30px;
    }

    .table tbody tr td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ddd;
        align-items: center;
    }

    .datas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 490px;
        margin: 0 auto;
        gap: 10px;
    }

}

@media (max-width: 500px) {
    
    .table-container {
        max-width: 360px;
        margin: 0 auto;
        height: 350px;
        margin-bottom: 20px;
        margin-top: 20px;
        overflow-y: auto;
    }

    .table tbody tr td:before {
        content: attr(data-label); 
        font-weight: bold;
        background-color: transparent;
        color: rgb(0, 0, 0);
    }

    td {
        text-align: center;
    }

    .table thead {
        display: none; 
    }
    
    .table tbody tr {
        display: block;
        margin-bottom: 30px;
    }

    .table tbody tr td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ddd;
        align-items: center;
    }

    .datas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 390px;
        margin: 0 auto;
        gap: 10px;
    }

    
    
}
