.table-container {
    margin-top: 10px;
    margin-inline: 150px;
    max-height: 600px;     
    overflow-y: auto;
}

main {
    height: 600px;
}

.container-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.inputTexto {
    display: flex;
    justify-content: center;
    text-align: start;
    margin: 0 auto;
}

.container-input-e-search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 350px;
    margin: 0 auto;
    gap: 10px;
}

#btnExportarExcel {
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.inv {
    display: none; 
}

.container-contas {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 350px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    padding: 20px;
    
}

.datas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 490px;
    margin: 0 auto;
    gap: 10px;
}

@media (max-width: 1250px) {

    .container-contas {
        width: 470px;
        margin: 0 auto;
        height: 400px;
    }

    .table tbody tr td:before {
        content: attr(data-label); 
        font-weight: bold;
        background-color: transparent;
        color: rgb(0, 0, 0);
    }

    td {
        text-align: start;
    }

    .table thead {
        display: none; 
    }
    
    .table tbody tr {
        display: block;
        margin-bottom: 30px;
    }

    .table tbody tr td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ddd;
        align-items: center;
        justify-content: space-between;
    }

}

@media (max-width: 768px) {
    .container-contas {
        width: 450px;
    }
}

@media (max-width: 500px) {

    .container-contas {
        width: 350px;
        display: flex;
        flex-direction: column;
    }

    .inv {
        display: inline;
    }

    .datas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        margin: 0 auto;
        gap: 10px;
    }


}