.table-container {
    
    margin-top: 10px;
    margin-inline: 150px;
    max-height: 600px;     
    overflow-y: auto;
}

main {
    height: 600px;
}

.container-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.inputTexto {
    display: flex;
    justify-content: center;
    text-align: start;
    margin: 0 auto;
}

.container-input-e-search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 350px;
    margin: 0 auto;
    gap: 10px;
}

#btnExportarExcel {
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.container-contas {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 350px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    padding: 20px;
}
