.container-lista {
    height: 600px;
    overflow-y: auto;
    margin: 20px;
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 30px;
}

.card {
    height: 330px;
}