.container-lista {
    height: 600px;
    overflow-y: auto;
    margin: 20px;
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 30px;
}

.card {
    height: 330px;
}

.container-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.inputTexto {
    display: flex;
    justify-content: center;
    text-align: start;
    margin: 0 auto;
}

.container-input-e-search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 350px;
    margin: 0 auto;
    gap: 10px;
}

.datas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 350px;
    margin: 0 auto;
    gap: 10px;
}